@import "https://lucypoulton.net/css/index.css";

a:hover, .navitem.active > .nav-link {
    color: var(--accent) !important;
}

body::before {
    display: none !important;
}

.bg-primary {
    background: #222 !important;
}

.bg-secondary {
    background: #222 !important;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
}

code {
    color: white;
    background: #222;
    border: 1px solid #444;
    border-radius: 4px;
}

pre > code {
    padding: 0.5em;
    text-align: left;
    display:inline-block;
    background: transparent !important;
    color: white;
}

pre {
    border: 2px solid #444 !important;
    border-radius: 0.5em;
    overflow-x: auto;
    max-width: 100%;
    background: transparent !important;
}

.hljs-comment {
    color: #aaa;
    font-style: italic;
}

.bs-sidebar .nav > li > a {
    border-right: none !important;
}

#navbar-collapse {
    margin-left: 1em;
}

hr {
    width: 50%;
    border-color: #444444;
}

footer {
    color: #aaaaaa;
    font-size: 0.8em;
}